.gameboard-setup-page{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gameboard-setup{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.gameboard-visual{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.gameboard-name{
    color: white;
    font-size: 2em;
    background-color: var(--main-color);
    padding: 10px;
    margin: 10px;
}
.gameboard-ship-container{
    background-color: var(--main-color);
    padding: 15px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5, minmax(140px, 1fr));
    grid-template-rows: repeat(2, minmax(140px, 1fr));
}

.gameboard-setup-continue{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    grid-column: span 2;
    font-size: 1.5em;
    border: 2px solid var(--light-color);
    background-color: var(--main-color);
    user-select: none;

    transition: all 0.15s;
}
.gameboard-setup-continue:hover{
    cursor: pointer;
    background-color: var(--light-color);
}
