.game-page{
    display: flex;
    flex-direction: row;
}

.game-gameboard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 50px;
}

.game-player-label{
    color: white;
    font-size: 2em;
    text-align: center;
}
