.gameboard-container{
    display: grid;
    grid-template-columns: repeat(11, 35px);
    grid-template-rows: repeat(11, 35px);
}

.gameboard{
    grid-column: 2 / span 10;
    grid-row: 2 / span 10;

    display: grid;
    grid-template-columns: repeat(10, 35px);
    grid-template-rows: repeat(10, 35px);

    border: 0.5px solid red;
}
.gameboard-cell{
    border:0.5px solid red;
}
.gameboard-marking{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
}
.gameboard-crosshair{
    pointer-events: none;
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 5;
    background-image: url('../../icons/crossair_black.png');
    background-size: 100% auto;

    /*#FF0000*/
    filter: brightness(0) saturate(100%) invert(29%) sepia(90%) saturate(7456%) hue-rotate(356deg) brightness(97%) contrast(122%)
}

.gameboard-x{
    pointer-events: none;
    width: 19px;
    height: 19px;
    margin: 8px;
    position: absolute;
    z-index: 5;
    background-image: url('../../icons/x_black.png');
    background-size: 100% auto;
}

.hit{
    /*#FF0000*/
    filter: brightness(0) saturate(100%) invert(29%) sepia(90%) saturate(7456%) hue-rotate(356deg) brightness(97%) contrast(122%)
}
.miss{
    /*#FFFF00*/
    filter: brightness(0) saturate(100%) invert(94%) sepia(81%) saturate(5722%) hue-rotate(358deg) brightness(107%) contrast(102%);
}