.ship{
    display: flex;
    border: 1px solid blue;
    background-color: var(--ship-color);
    user-select: none;
    cursor: grab;
    z-index: 20;
}

.ship-part{
    position: static;
    width: 33px;
    height: 33px;
    z-index: 21;
}